{% extends "base.html" %}

{% block title %}Profile{% endblock title %}


{% block content %}
    <div class="user_wrapper">
        <div class="left">
            <img src="{{ user.avatar(128) }}"
                 alt="user's avatar">
            <h4>{{ user.data.fname }} {{ user.data.lname }}</h4>
        </div>
        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Email</h4>
                        <p>{{ user.data.email }}</p>
                    </div>
                    <div class="data">
                        <h4>Phone</h4>
                        <p>{{ user.data.phone }}</p>
                    </div>
                    <div class="data">
                        <h4>Username</h4>
                        <p>{{ user.username }}</p>
                    </div>
                    <div class="data">
                        <h4>Password</h4>
                        <p>{{ user.data.password }}</p>
                    </div>
                </div>
            </div>

{#            <div class="projects">#}
{#                <h3>Projects</h3>#}
{#                <div class="projects_data">#}
{#                    <div class="data">#}
{#                        <h4>Recent</h4>#}
{#                        <p>Lorem ipsum dolor sit amet.</p>#}
{#                    </div>#}
{#                    <div class="data">#}
{#                        <h4>Most Viewed</h4>#}
{#                        <p>dolor sit amet.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="social_media">#}
{#                <ul>#}
{#                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>#}
{#                </ul>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
<h3>Actions</h3>
<ul class="nav nav-tabs nav-stacked">
    <li>
        <a href="{{ url_for('wiki.edit_profile') }}">Edit</a>
    </li>
    <li>
        <a href="#confirmDelete" data-toggle="modal" class="text-error">Delete</a>
    </li>
</ul>
{% endblock sidebar %}